@font-face {
	font-family: 'icomoon';
	src: url('../fonts/icomoon/icomoon.eot?srf3rx');
	src: url('../fonts/icomoon/icomoon.eot?srf3rx#iefix')
			format('embedded-opentype'),
		url('../fonts/icomoon/icomoon.ttf?srf3rx') format('truetype'),
		url('../fonts/icomoon/icomoon.woff?srf3rx') format('woff'),
		url('../fonts/icomoon/icomoon.svg?srf3rx#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: 'Roboto';
	line-height: 1.8;
	font-size: 16px;
	background: #fff;

	font-weight: 300;
	overflow-x: hidden;
}
body.fh5co-offcanvas {
	overflow: hidden;
}

a {
	color: orange;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}
a:hover {
	text-decoration: none !important;
	color: orangered !important;
}
a:active,
a:focus {
	outline: none;
}

p,
ul,
ol,
.copyright {
	margin-bottom: 1.5em;
	font-size: 15px;
	color: #848484;
	font-family: 'Roboto', Arial, serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
i,
.copyright {
	color: #212121;
	font-family: 'Roboto', Arial, serif;
	font-weight: 400;
	margin: 0 0 20px 0;
}

figure {
	margin-bottom: 2em;
}
.logo-image {
	max-height: 800px;
}

::-webkit-selection {
	color: #fcfcfc;
	background: #2da9d7;
}

::-moz-selection {
	color: #fcfcfc;
	background: #2da9d7;
}

::selection {
	color: #fcfcfc;
	background: #2da9d7;
}

#fh5co-header {
	padding-top: 40px;
	margin-bottom: 30px;
}
#fh5co-header #fh5co-logo img {
	max-width: 100%;
}
#fh5co-header nav {
	padding-top: 20px;
}
#fh5co-header nav ul {
	padding: 0;
	margin: 0;
}
#fh5co-header nav ul li {
	padding: 0;
	margin: 0;
	display: -moz-inline-stack;
	display: inline-block;
	zoom: 1;
	*display: inline;
	list-style: none;
	font-size: 15px;
}
#fh5co-header nav ul li a {
	color: #999999 !important;
	padding: 10px;
}
@media screen and (max-width: 480px) {
	#fh5co-header nav ul li a {
		padding: 5px;
	}
}
#fh5co-header nav ul li a:hover,
#fh5co-header nav ul li a:active,
#fh5co-header nav ul li a:focus {
	color: #000 !important;
	text-decoration: none;
	outline: none;
}
#fh5co-header nav ul li.active a {

	color: black !important;
  font-weight: 500;
}

.fh5co-projects-feed,
.footer-content {
	margin: 0 auto;
	max-width: 1400px;
}

.fh5co-projects-feed .fh5co-project {
	float: left;
	margin: 20px 20px 20px;
	width: 290px;
}
@media screen and (max-width: 480px) {
	.fh5co-projects-feed .fh5co-project {
		margin: 10px 10px 10px;
	}
}
.fh5co-projects-feed .fh5co-project > a {
	display: block;
	text-align: center;
}
.fh5co-projects-feed .fh5co-project > a img {
	margin-bottom: 30px;
}
.fh5co-projects-feed .fh5co-project > a h2 {
	font-size: 14px;
	color: #999999;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}
.fh5co-projects-feed .fh5co-project > a:hover h2,
.fh5co-projects-feed .fh5co-project > a:active h2,
.fh5co-projects-feed .fh5co-project > a:focus h2 {
	color: #000;
}

.masonry,
.masonry .masonry-brick {
	-webkit-transition-duration: 0.7s;
	transition-duration: 0.7s;
}

.masonry {
	-webkit-transition-property: height, width;
	transition-property: height, width;
}

.masonry .masonry-brick {
	-webkit-transition-property: left, right, top;
	transition-property: left, right, top;
}

.page-content {
	margin: 0 auto;
	max-width: 620px;
	width: 100%;
	padding-top: 70px;
	padding-bottom: 70px;
}
.page-content img {
	max-width: 100%;
}
@media screen and (max-width: 768px) {
	.page-content {
		padding-left: 15px;
		padding-right: 15px;
	}
}
.page-content .mb0 {
	margin-bottom: 0;
}
.page-content .meta {
	margin-bottom: 20px;
}
.page-content .meta span {
	color: #bfbfbf;
}
.page-content .meta a {
	color: #bfbfbf;
}
.page-content .meta a:hover,
.page-content .meta a:active,
.page-content .meta a:focus {
	color: #000 !important;
}
@media screen and (max-width: 480px) {
	.page-content {
		padding-top: 30px;
		padding-bottom: 30px;
	}
}

#fh5co-footer {
	float: left;
	width: 100%;
	background: #E69A4F;

	padding-top: 20px;
	margin-top: 10px;
	padding-bottom: 20px;
	text-align: center;
	color: #999999;
}
#fh5co-footer a {
	color: #bfbfbf;
}
#fh5co-footer a:hover,
#fh5co-footer a:active,
#fh5co-footer a:focus {
	color: #000 !important;
}
#fh5co-footer .social {
	margin-top: 20px;
}
#fh5co-footer .social a {
	padding: 10px;
	color: #999999 !important;
}
@media screen and (max-width: 480px) {
	#fh5co-footer .social a {
		padding: 5px;
	}
}
#fh5co-footer .social a:hover,
#fh5co-footer .social a:active,
#fh5co-footer .social a:focus {
	color: #000 !important;
}

.square {
	list-style: square;
}

.pt70 {
	padding-top: 70px;
}
@media screen and (max-width: 480px) {
	.pt70 {
		padding-top: 30px;
	}
}

.pb70 {
	padding-bottom: 70px;
}
@media screen and (max-width: 480px) {
	.pb70 {
		padding-bottom: 30px;
	}
}

/*# sourceMappingURL=style.css.map */


.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}


.column {
  flex: 25%;
  max-width: 33.3%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  filter: grayscale(1) brightness(0.5);
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s linear;
}
.column img:hover {
  filter: grayscale(0);
}
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}


@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
  .column img {
    filter: grayscale(0) brightness(1);
  }
}
